/* Minified CSS Source map Restructure Beautify  */
body,
html {
  font-family: "Roboto", sans-serif !important;
  height: 100%;
}

.container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 250px 1fr 350px; */
  grid-template-columns:
    minmax(200px, 250px)
    minmax(455px, 1fr)
    minmax(280px, 350px);
  grid-template-rows: 140px 1fr;
  background-color: #d4d4d8;
}

.card h3,
.container h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.container h2 {
  margin: 0 0 5px 10px;
}

.header {
  grid-column: 2 / span 2;
  grid-row: 1;
  background-color: #fff;
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #64748b;
  padding: 10px 20px;
}

.header .topbar,
.header .bottombar {
  grid-row: 1;
  /* display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  gap: 35px; */
  display: flex;
  align-items: center;
  /* padding: 10px; */
  /* padding: 0; */
  gap: 20px;
}

/* .topbar .search-bar {
  display: flex;
  max-width: 70%;
  gap: 5px;
  margin-left: 25px;
} */

.logo-landscape {
  display: none;
}
.topbar input {
  flex: 1 1 100%;
  border-radius: 15px;
  background-color: #d4d4d8;
  box-sizing: border-box;
  border: 0;
  /* padding-left: 15px; */
  height: 30px;
  max-width: 700px;
}

.topbar .fa_icon {
  width: 1.5em;
}

.topbar .icon {
  width: 3em;
}

.push-left {
  margin-left: auto;
}

.topbar p,
.top .news h4 {
  font-size: 0.9em;
  font-weight: 700;
}

.bottombar img {
  width: 4.2em;
  margin-left: 25px;
  margin-right: 10px;
}

.bottombar p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
}

.bottombar .username,
.sidebar a {
  font-size: 1rem;
  font-weight: 600;
}

.profile-button-action {
  padding: 8px 25px;
  border-radius: 18px;
  color: #fff;
  background-color: #0ea5e9;
  border: 0;
  font-size: 1.05rem;
  box-shadow: 1px 0 3px #64748b;
  cursor: pointer;
}

/* .topbar .notifications-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 2em;
} */

/* .header .bottombar {
  grid-row: 2;
  justify-content: space-between;
} */

.bottom .trend,
.sidebar p {
  display: flex;
  align-items: center;
}

/* .bottombar .action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 2em;
  cursor: pointer;
} */

.sidebar {
  grid-column: 1;
  grid-row: 1/3;
  background-color: #0ea5e9;
  padding: 10px 10px 15px 25px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.sidebar p {
  gap: 20px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  cursor: pointer;
}

.sidebar .logo {
  max-height: 70px;
  padding: 20px;
  position: static;
  cursor: pointer;
}

.sidebar .sidebar-icon {
  filter: invert(100%);
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar .push-down {
  margin-top: auto;
}
.announcements,
.projects {
  padding: 20px;
  overflow: auto;
}

.projects {
  grid-column: 2;
}

.projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.projects .card {
  background-color: #fff;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 10px;
  border-left: 7px solid #38bdf8;
  display: grid;
  overflow: hidden;
  min-height: 150px;
}

.card h3 {
  letter-spacing: 0.04em;
  align-self: flex-end;
  margin-bottom: 5px;
}

.card p,
.top .news p {
  font-size: 0.87em;
  line-height: 1.3em;
  color: #64748b;
  font-weight: 100;
}

.card .card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-self: flex-end;
}

.card .card-buttons img {
  cursor: pointer;
}

.announcements {
  display: flex;
  flex-direction: column;
}

.announcements .bottom,
.announcements .top {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px 10px 40px;
  flex: 0 1 auto;
}

.announcements .line {
  border: 0.05em solid #d4d4d8;
  margin: 0.5em 0;
}

.top .news h4 {
  font-weight: 600;
  margin-bottom: 4px;
}

.top .news p {
  font-size: 0.7em;
}

.bottom .trends {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
}

.trend img {
  width: 4em;
  margin-right: 10px;
}

.trend .username {
  font-size: 0.8rem;
}

.trend .name {
  font-size: 0.75rem;
  line-height: 1.3em;
  color: #64748b;
  font-weight: 100;
}

@media (max-width: 935px) {
  .container {
    grid-template-columns:
      70px
      minmax(455px, 1fr)
      minmax(250px, 350px);
  }

  .sidebar {
    grid-row: 2/3;
    padding: 10px;
    align-items: center;
  }

  .sidebar-icon {
    height: 35px;
  }

  .sidebar .logo,
  .sidebar a {
    display: none;
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .topbar .logo-landscape {
    display: block;
    max-height: 35px;
    align-self: flex-start;
  }
}
@media (max-width: 760px) {
  .container {
    height: min-content;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 50px 1fr min-content;
  }
  .header {
    grid-row: 1;
    /* display: flex; */
    flex-wrap: wrap;
  }
  .header .topbar,
  .header .bottombar {
    /* display: flex; */
    justify-content: space-between;
    gap: unset;
  }
  .topbar .notifications-name {
    margin-right: 0;
    /* justify-content: unset; */
  }
  .notifications-name p {
    display: none;
  }
  .topbar .search-bar {
    margin-left: 0;
    width: fit-content;
  }
  .sidebar {
    grid-row: 2;
    padding-left: 0;
    justify-content: space-between;
  }
  .sidebar > div,
  .links-container-one,
  .links-container-two {
    grid-column: 1;
    display: flex;
    flex-direction: unset;
  }
  .sidebar p {
    margin: 10px;
  }
  .sidebar-icon {
    height: 25px;
  }
  .announcements,
  .projects {
    padding: 20px;
    overflow: unset;
  }
  .projects {
    grid-column: 1;
    grid-row: 3;
  }
  .announcements {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
  }
}
